html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

/* Must match util.ts and index.html */
#map-canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#map-svg {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#img-canvas {
    display: none;
}

.ac .dg li.cr, .ac .dg li.folder {
    margin-left: 10px;
}

.ac .dg li.title {
    /*border-left: 3px solid #FF6C00;*/
    border-left: 3px solid #FFFFFF;
}

.ac .dg .c input[type="text"] {
    width: 80px;
}
